
.cal{
    background-color: red;
}

.coin-logo {
    width: 100%;
}
button:focus {
    outline: none;
}
.admin-login {
    color: white;
}
.logout_btn {
    color: white;
    background-color: transparent;
    border: none;
}
.table-coin-logo {
    width: 50%;
}
.list-coin-logo {
    width: 100%;
}
.fullWidth {
    width: 100%;
}
.invoice-logo {
    width: 128px;
}
.navq {
    background-color: aquamarine;
}
.loading_dlg_container{
    width: 300px;
    height: 200px;
    text-align: center;
}
.loading_logo_area{
    width: 100%;
    height: 60%;
    padding: 10%;
    text-align: center;
}
.loading_logo {
    width: 50px;
    height: 50px;
}
.loading_text_area{
    width: 100%;
    height: 40%;
    padding: 10%;
}
